.letter {
color: red
}
.tekst1 {
    color: rgb(49, 151, 116);
    font-family: Algerian, fantasy;
    font-size: 150%;
   } 
.tekst2 {
    color: green; 
    font-family: Verdana, Arial, Helvetica, sans-serif; 
    font-size: 11pt;
    font-weight: 600;
   }
.tekst3 {
    color: red;
    font-family: ColonnaMT, Comik, cursive; 
    font-size: 19pt; 
   }